<p>Hello, this is about page</p>
<ul>
    <li><a id="aboutlink1">link 1</a></li>
    <li><a id="aboutlink2">link 2</a></li>
    <li><a id="aboutlink3">link 3</a></li>
</ul>

 <script type="text/javascript">
 function displayAboutArticle(postid){
     // displaySingleArticleById(postid);
     ShowPage(PAGE_ARTICLE_VIEW, postid);
 }
 $(function() {
     $('#aboutlink1').on('click', function(){displayAboutArticle(30);});
     $('#aboutlink2').on('click', function(){displayAboutArticle(29);});
     $('#aboutlink3').on('click', function(){displayAboutArticle(1);});
});
          
</script>