{% extends 'CptMainBundle::main.html.twig' %}

{% block leftcol %}
    <div id="leftcol_event">
        {% render controller("CptEventBundle:Event:index", {"event_permalink": event_permalink, "_locale": app.request.locale }) %}
    </div>
{% endblock %}


{% block rightcol %}
        {% render controller("CptBlogBundle:Post:view", {"article_permalink": article_permalink, "_locale": app.request.locale}) %}
{% endblock %}
