{#****************************************************************************#}
{# Includes common comment handling javascript
{#****************************************************************************#}
{% include 'CptBlogBundle:Post:comments.js.twig' %}

<script type="text/javascript">

var post_list = [ ];
count_article_loaded = 0;
{#****************************************************************************#}
{# Show or hide an article
{#****************************************************************************#}
function toogle_article(id,speed)
{
    {# closing an article => all article get closed #}
    {# opening an article => only this article gets open #}
     visible = $("#post_body"+id).is(":visible");
        
        if (!visible)
        {
            $( "#comment_section" + id).slideDown(speed);
            $( "#post_body" + id ).slideDown(speed);
        }
        else
        {
            $( "#comment_section" + id).slideUp(speed);
            $( "#post_body" + id ).slideUp(speed);            
        }
        
    for (i = 0; i<post_list.length; ++i)
    {
        if (post_list[i].id!==id)
        {
            $( "#comment_section" + post_list[i].id).slideUp(speed);
            $( "#post_body" + post_list[i].id ).slideUp(speed);
        }
    }
}

{#**************************************************************************#}
{# Retreives an array of post id from server, and call getAndAddPost
{#**************************************************************************#}
function getPostList(){
    $('#articles').hide();
    $('#homepage_aticles').hide();
    $('#loadingarticles').hide().fadeIn(2000);

    $.getJSON( "{{ url('cpt_blog_getjsonlist') }}", function( data ) {
        post_list = data;
        for(i = 0; i<data.length ; ++i)
            getAndAddPost(data[i]);
   });
}

{#**************************************************************************#}
{# Retreives the html view of a post from a server based on its id, and add it to the DOM
{#**************************************************************************#}
function getAndAddPost(post)
{
   {# add the div container for this post #}
    if (post.publishhomepage)
    { {# "A la une" posts #}
        jQuery('<div/>', {
            id: 'postcontainer'+post.id,
            class: 'postcontainer'
        }).appendTo('#homepage_aticles');
    }
    else
    { {# Other posts #}
        jQuery('<div/>', {
            id: 'postcontainer'+post.id,
            class: 'postcontainer'
        }).appendTo('#articles');                
    }
    {# retreive post view from server and add it to container #}
    $.get( "{{ url('cpt_blog_post_getjsonview') }}", {id:post.id} , function( data ) {
        $( "#postcontainer" + post.id ).html( data );
        
        {# if this is the last one to be retreive, prepare the accordion #}
        count_article_loaded ++;
        if (count_article_loaded === post_list.length) {# finished loading all articles #}
        {
            toogle_article(post_list[0].id,500);
            $('#articles').show();
            $('#homepage_aticles').show();
            $('#loadingarticles').hide();
        }
    });
}



$(function() {
    getPostList();     
});
</script>

<div class="alaune_label">{{ "article.alaune_label"|trans }}</div>
<div id="homepage_aticles">
{# preview_post.html.twig => loaded and appened by ajax request #}
</div>
<div id="articles">
<hr class="alaune"/>
<div class="post_date_label">Date</div>
<div class="post_titre_label">Titre</div>
<div class="post_commentcount_label">Commentaires</div>
{# preview_post.html.twig => loaded and appened by ajax request #}
</div>
<div id="loadingarticles" class="loading">
    Loading articles...
</div>

