<script type="text/javascript">
 var older_comment_ids = new Array();  {# Contains for each post the older comment id #}  
{#****************************************************************************#}
{# Retreives list of new comment for a post
{#****************************************************************************#}
function get_more_comments(postid, howmany, callback)
{
    if (older_comment_ids[postid] === undefined)
        older_comment_ids[postid] = null;
            
    {# Get Comment array as a json object #}
    $.getJSON('{{ url('cpt_comment_list_json')}}', {postid:postid, howmany:howmany, beforeid:older_comment_ids[postid]}, function(comments) {
        for (i=0; i<comments.length; ++i)
            append_comment(comments[i]); {# Append each comment to the DOM #}
        
        if (comments.length>0)
            older_comment_ids[postid] = comments[comments.length-1].id;
        
        if (callback)
            callback(comments);
    });    
}
{#****************************************************************************#}
{# Disable the link to get more comments for a given post if commentcount === 0
{#****************************************************************************#}
function no_more_older_comments(postid, commentcount)
{
    if (commentcount === 0)
        $('#btn_more_comments_'+postid).hide();
}
{#****************************************************************************#}
{# Add a comment to the DOM at the END of the comment list
{#****************************************************************************#}
function append_comment(comment)
{
    new_comment_dom = get_comment_dom(comment);
    new_comment_dom.appendTo($('#comment_list_'+comment.postid));
    new_comment_dom.show("highlight", 1000);
}
{#****************************************************************************#}
{# Add a comment to the DOM at the BEGINING of the comment list
{#****************************************************************************#}
function prepend_comment(comment)
{
    new_comment_dom = get_comment_dom(comment);
    new_comment_dom.prependTo($('#comment_list_'+comment.postid));
    new_comment_dom.show("highlight", 1000);
}
{#****************************************************************************#}
{# Clone the Comment template, fill it with the comment and returns the ajax DOM object
{#****************************************************************************#}
function get_comment_dom(comment)
{
    var new_comment_dom = $("#comment_template").clone();
    new_comment_dom.attr('id', 'comment_'+comment.id);
    new_comment_dom.html(comment.authorname + ": " + comment.message);
    new_comment_dom.hide();
    return new_comment_dom;
}
{#****************************************************************************#}
{# handles the submition of a new comment 
{#****************************************************************************#}
function comment_submit_callback(comment)
{
    prepend_comment(comment);                                {# add the new comment to the DOM #}
    DisableControls('form_comment_'+comment.postid, true);  {#re-enable comment submission controls #}
 }
{#****************************************************************************#}
{# handles the deletion of a comment
{#****************************************************************************#}
function delete_comment(commentid)
{
    dataString = 'id='+commentid;

    $('#comment_delete_button_'+commentid).attr("disabled", "disabled");

     $.post('{{ url('sonata_news_delete_comment') }}',  {id:id} , function(html){
                $('#comment_'+commentid).html('');
                $('#comment_'+commentid).slideUp();
        });
}
{#****************************************************************************#}
{# Enables / Disables the commment button
{#****************************************************************************#}
function toggle_submit_comment_button(textvalue, postid)
{
    if (textvalue)
       $("#submit_comment_"+postid).removeAttr("disabled"); 
    else
       $("#submit_comment_"+postid).attr("disabled", "disabled"); 
}
</script>
{# Below is a template that will be copied when adding a new comment #}
<ul style="display: none;"><li id="comment_template"></li></ul>