{# A row of the queue display
Items are added by a javascript function.
This file is made to be included in a javascript string (using twig filter extension jsstring #}
<tr>
    <td>" + index + "</td>
    <td>" + reservation.username + "</td>
    <td>" + reservation.numparticipants + "</td>
    <td>" + waiting_queue  + "</td>
</tr>