/* 
    Document   : cpt_calendar
    Created on : Jul 25, 2013, 5:10:07 PM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/
#calendar_container{
    overflow: hidden;
    text-align: center;
}

#calendar_container > div:first-child{
    display: inline-block;
    vertical-align: top;
    margin-top:20px;
    min-width: 160px;
}

#calendar_container > div:last-child{
    display: inline-block;
    margin-left:20px;
}

.month_selector > ul {
    list-style: none;
    color: #066FB2;
    text-align: center;
}

.month_selector > ul > li:nth-child(2){
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.month_selector > ul > li:nth-child(3){
    font-size: 20px;
}



.cal_table tr {
        height: 30px;
}

.cal_table tr:first-child td {
    color: grey;
    font-size: 20px;
}

.cal_table tr td{
    text-align: center;
    border-right:solid grey 1px;
    width: 30px;
    height: 30px;
}

.cal_table tr td:last-child{
    border: none;
}

.cal_table a
{
    display: inline-block;
    margin-top: 4px;
    font-size: 18px;
}

.cal_day_inmonth_withevents,
.cal_day_inmonth_noevents,
.cal_day_outmonth_withevents,
.cal_day_outmonth_noevents,
.cal_day_inmonth_withmyevents
{

}

.cal_day_outmonth_withevents > a,
.cal_day_outmonth_noevents > a
{
    color: lightgrey;
}

.cal_day_inmonth_noevents > a
{
    color: black;
}
.cal_day_inmonth_withmyevents > a,
.cal_day_inmonth_withevents > a
{
    color: white;
}

.cal_day_inmonth_withmyevents{
    background: url('../images/evenements/marquage-date-mon-cpt-calendrier.png') no-repeat;
    height: 29px;
    width: 29px;
}

.cal_day_inmonth_withevents{
    background: url('../images/evenements/marquage-date-cpt-calendrier.png') no-repeat;
    height: 29px;
    width: 29px;
}

.cal_day_inmonth_noevents{
    background-color: transparent;
}

.cal_day_outmonth_withevents{

}

.cal_day_outmonth_noevents{

}

