.form-signin{
        margin-left: auto;
    margin-right: 15px;
    margin-top:15px;
}

.form-signin * {
    background-color: transparent;
    border: none;
    font-size: 10px;
    text-align: right;

}

.form-signin li {
    list-style: none;
}

.form-signin li:nth-child(1){
    font-size: 15px;
    color: white;
   
}

.form-signin checkbox {
}

.form-signin label{
    display: inline-block;
    width:50px;
    color: white;
    line-height: 8px;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0px;
}

.form-signin input[type="submit"]{
    background: url('../images/bandeau/bandeau-bouton-connecte.jpg') no-repeat;
    width: 64px;
    height: 18px;
    color: white;
    padding: 2px;
    font-size: 9px;
    text-align:  center;
}

.form-signin checkbox,
.form-signin input[type="text"],
.form-signin input[type="password"] {
    height: 5px;
    width: 120px;
    margin-bottom: 2px;
    padding: 7px 9px;
}