

.input{
    background-color: transparent;
    display:inline-block;
}


input[type=checkbox]:before { content:""; display:inline-block; width:12px; height:12px;}

input[disabled]{
    background-color: grey;
}

.input_div{
    display: table;
    width:  100%;
    margin-bottom: 5px;
}

.input_div label { 
    display: table-cell;
    width: 80px!important; 
    -moz-border-radius: 5px 0 0 5px; 
    -webkit-border-radius: 5px 0 0 5px; 
    background: #EEE; 
    border: 1px solid #CCC; 
    border-radius: 5px 0 0 5px; 
    border-right: 1px solid #FFF;  
    height: 38px; 
    width: 275px; 
    line-height: 36px; 
    margin-right: 0; 
    margin-bottom: 0; 
}

.input_div input[type=text] { 
    display: table-cell;
    width: 100%;
    -moz-border-radius: 0 5px 5px 0; 
    -webkit-border-radius: 0 5px 5px 0; 
    background: #FFF; 
    border: 1px solid #CCC; 
    border-radius: 0 5px 5px 0; 
    color: #333; 
    height: 38px; 
    line-height: 24px; 
    margin: 0px 8px 0px -5px; 
    outline: none; 
    padding: 0 3px;
} 

label { 
    display: block; 
    height: 36px; 
    line-height: 36px; 
    padding: 0 10px 0 20px;
} 

.mandatory_field_label{
    color: #AA3333;
}