/* 
    Document   : cpt_buttons
    Created on : Oct 25, 2013, 2:00:21 AM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/
.btn-create-account{
    background: url('../images/bandeau/bandeau-bouton-creer-compte.jpg');
    height: 40px;
    padding: 4px 6px 0px;
    font-weight:normal;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    text-decoration: none;
    color: white;
}

.article_new_btn
{
      background: url('../images/articles/bouton-nouveau-articles.png') no-repeat;
      height: 18px;
      width: 65px;
      float: right;
      padding-left: 10px;
      color: white;
        font-size: 10px;
}

.article_new_btn:hover{
    cursor: pointer; cursor: hand;
}

.event_new_btn
{
  background: url('../images/evenements/bouton-nouveau-evenements.png') no-repeat;
  height: 18px;
  width: 65px;
  float: right;
  padding-left: 10px;
  color: white;
  font-size: 10px;
}

.event_new_btn:hover{
    cursor: pointer; cursor: hand;
}

.event_book_btn
{
      background: url('../images/evenements/bouton-modifier-places.png') no-repeat;
      height: 15px;
      width: 47px;
      color: white;
}

.event_book_btn:hover{
    cursor: pointer; cursor: hand;
    color: white;
    text-decoration: none;
}

.event_manage_btn
{
      background: url('../images/evenements/bouton-gerer-mon-evenement.png') no-repeat;
      height: 88px;
      width: 17px;
      color: white;
}

.event_manage_btn:hover{
    cursor: pointer; cursor: hand;
    color: white;
    text-decoration: none;
}

.calendar_arrow_up_withevents_btn{
      background: url('../images/evenements/bouton-mois-avant.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-bottom: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.calendar_arrow_down_withevents_btn{
      background: url('../images/evenements/bouton-mois-apres.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-top: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.calendar_arrow_up_withoutevents_btn{
      background: url('../images/evenements/bouton-mois-avant-grise.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-bottom: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.calendar_arrow_down_withoutevents_btn{
      background: url('../images/evenements/bouton-mois-apres-grise.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-top: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.calendar_arrow_up_myevents_btn{
      background: url('../images/evenements/bouton-mois-avant-myevent.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-bottom: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.calendar_arrow_down_myevents_btn{
      background: url('../images/evenements/bouton-mois-apres-myevent.png') no-repeat;
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      margin-top: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
}

.btn_trash{
    background: url('../images/boutons/bouton-corbeille.png') no-repeat;
    height: 25px;
    width: 25px;
    cursor: pointer; cursor: hand;
}

.btn_red{
    display: inline-block;
    background: url('../images/boutons/bouton-generique-rouge-milieu.png') repeat-x;
    height: 25px;
    color: white;
    cursor: pointer; cursor: hand;
    border-style: none;
    vertical-align: central;
}

.btn_green{
    display: inline-block;
    background: url('../images/boutons/bouton-generique-vert-milieu.png') repeat-x;
    height: 25px;
    color: white;
    cursor: pointer; cursor: hand;
    border-style: none;
    vertical-align: central;
}