#articles{
    width: auto;    
}

.postcontainer{
    width: auto;
    margin-bottom: 5px;
}



hr.alaune{
    border-top-width: 1px;
    border-top-color: lightgray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

/** Header labels (Date  Titre CommentCount ..) **/
.alaune_label{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 14px;
    line-height: 0px;
}

.alaune_label,
.alaune{
    color: #D20F1F;
    font-size: 12px;
}

.alaune_label,
.post_header_date.alaune{
    font-weight: bold;    
}

.post_date_label,
.post_titre_label,
.post_commentcount_label{
    display: inline-block;
    font-size: 10px;
    color: #D20F1F;
}

.post_date_label{
    margin-left: 15px;
}

.post_titre_label{
    width: auto;
    margin-left: 40%;
}

.post_commentcount_label{
    float: right;
}

/** Post Header **/
.post_header{
    display: block;
    font-size: 12px;
    width:auto;
    height: 16px;
    margin-top:6px;
    padding: 0px;
    
    cursor:  pointer;
}

.post_header:hover .post_header_arrow {
     background: url('../images/articles/fleche-articles.png') no-repeat;
     background-position: 5px;
}

.post_header_arrow_show
{
     background: url('../images/articles/fleche-articles-bas.png') no-repeat;
}

.post_header_arrow,
.post_header_arrow_show,
.post_header_date,
.post_header_title,
.post_header_commentcount
{
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
}

.post_subheader{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    margin-left: 22px;
}

.post_header_arrow,
.post_header_arrow_show{
        background-position:left center;
        margin-right: 5px;
        min-height: 13px;
        min-width: 13px;
        
}

.post_header_date{
    min-width: 30px;
    margin-right: 10px;
}

.post_header_title{
    width: auto;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 320px;    
}

.post_header_commentcount{
    width: 20px;
    margin-right: 5px;
    float: right;
}


/** Post Body **/
.post_body{
    display: block;
    width: 100%;
    margin-top:0px;
    padding: 15px;
    font-size: 12px;
    overflow: hidden;

}


.post_separator{
    height: 50px;
}

/* Context Menu **/
.article_contextmenu{
    width: 100px;
    margin-left:0px;
    margin-top:0px;
}

/** Pagination **/
.post_pagination{
    list-style: none;
    /* Prevent text from being selectable */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.post_pagination li{
    display: inline-block;
    alignment-adjust: central;
    vertical-align: middle;
    width: 23px;
    height: 30px;
    margin: 10px;
}

.post_pagination a{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: grey;
        text-decoration: none;
        font-size: 14px;
        min-width: 23px;
        min-height: 30px;
        border-style: none;
        outline : none;
}

.post_pagination_leftarrow{
    background: url('../images/articles/fleche-defilement-gauche-articles.png') no-repeat;
    background-position: 100% 20%;
    height: 11px;
    width: 6px;
    border-style: none;
    outline : none;
    border: 0px;
}

.post_pagination_rightarrow{
    background: url('../images/articles/fleche-defilement-droite-articles.png') no-repeat;
    background-position: 0% 20%;
    height: 11px;
    width: 6px;
    border-style: none;
    outline : none;
    border: 0px;
}

.post_pagination_currentpage{
        background: url('../images/articles/marquage-page-article.png') no-repeat;
        color: white !important;
}

.post_pagination_currentpage a{
    color: white;
}

#articles_filter > ul {
    list-style: none;
    margin: 0px 0px 10px 0px;
}
#articles_filter > ul > li {
    padding-right: 15px;
    font-size: 14px;
    vertical-align: middle;    
    display: inline-block;
    cursor: pointer; cursor: hand;
}

