.comments{
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.comment{
    display: block;
    list-style: none;
    width:100%;
    margin: auto;
}

.comment_form{
    display: block;
    width: 90%;
    margin-left: auto;
}

.comment_form > input[type='submit']{
    margin-left: 80%;
    display: block;
}

.comment > li{
    word-wrap: break-word;
    margin-top: 10px;
    background-color: #FAFAFA;
    border-style: solid;
    border-width: 1px;
    border-color: #EAEAEA;
    opacity: 0.75;
    height: 100%;
    width: 100%;
}

.comment_header{
  background-color: #DADADA;
  text-align: justify;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-bottom-width: 1px;
  display: block;
  padding-left: 5px;
}

.comment_header > ul{
    list-style: none;
    margin-left: 0px;
}

.comment_header > ul > li:first-child{
    font-weight: bold; 
    display: inline;
}

.comment_header > ul > li:nth-child(2){
    float: right;
    display: inline;
    padding-right: 5px;
}

.comment_body{
    padding: 5px;
}

hr.comment{
    width: 60%;
    border-top-color: lightgrey;
    border-top-width: 1px;
    border-top-style: groove;
    margin: auto;
    margin-bottom: 20px;
}

input[type=submit].comment{
    margin-right: 10%;
    margin-bottom: 5px;
    display: block;
}

.comment_textarea{
  font-size: 10px;
      width:80%;
    margin-left: 10%;
}

.more_comments_wrapper{
    display: block;
    text-align: center;
}

