/* 
    Document   : cpt_buttons
    Created on : Oct 25, 2013, 2:00:21 AM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/
.btn-create-account{
    background: url('../images/bandeau/bandeau-bouton-creer-compte.jpg');
    height: 40px;
    padding: 4px 6px 0px;
    font-weight:normal;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    text-decoration: none;
    color: white;
    font-size: 16px !important;
}

.article_new_btn
{
      background-image: url('../images/articles/bouton-nouveau-articles-gauche.png'), url('../images/articles/bouton-nouveau-articles.png');
      background-repeat: no-repeat, repeat-x;
      background-position: left center, center center ;
      height: 18px;
      float: right;
      padding-left: 10px;
      padding-right: 5px;
      color: white;
        font-size: 10px;
}

.article_new_btn:hover{
    cursor: pointer; cursor: hand;
}

.event_new_btn
{
  background-image: url('../images/evenements/bouton-nouveau-evenements-gauche.png'),  url('../images/evenements/bouton-nouveau-evenements.png');
  background-repeat: no-repeat, repeat-x;
  background-position: left center, center center ;
  height: 18px;
  float: right;
  padding-left: 10px;
  padding-right: 5px;
  color: white;
  font-size: 10px;
}

.event_new_btn:hover{
    cursor: pointer; cursor: hand;
}

.event_book_btn
{
      background: url('../images/evenements/bouton-modifier-places.png') no-repeat;
      height: 15px;
      width: 47px;
      color: white;
}

.btn-create-account:hover,
.event_book_btn:hover{
    cursor: pointer; cursor: hand;
    color: white;
    text-decoration: none;
}

.event_manage_btn
{
    display: inline-block;
    background-image: url('../images/evenements/bouton-gerer-mon-evenement-gauche.png'), url('../images/evenements/bouton-gerer-mon-evenement-droite.png'), url('../images/evenements/bouton-gerer-mon-evenement.png');
      background-repeat: no-repeat,  no-repeat, repeat-x;
      background-position: left center, right center, center center ;
      background-origin: padding-box;
      padding-left: 5px;
      padding-right: 5px;
      min-width: 16px;
      font-size: 10px;
      line-height: 16px;
      color: white;
}

.event_manage_btn:hover{
    cursor: pointer; cursor: hand;
    color: white;
    text-decoration: none;
}

.calendar_arrow_up_loading_btn,
.calendar_arrow_down_loading_btn,
.calendar_arrow_up_withevents_btn,
.calendar_arrow_down_withevents_btn,
.calendar_arrow_up_withoutevents_btn,
.calendar_arrow_down_withoutevents_btn,
.calendar_arrow_up_myevents_btn,
.calendar_arrow_down_myevents_btn {
      min-height: 38px;
      min-width: 38px;
      display: inline-block;
      color: white;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;    
}

.calendar_arrow_up_loading_btn,
.calendar_arrow_up_withevents_btn,
.calendar_arrow_up_withoutevents_btn,
.calendar_arrow_up_myevents_btn
{
    margin-bottom: 15px;
}

.calendar_arrow_down_loading_btn,
.calendar_arrow_down_withevents_btn,
.calendar_arrow_down_withoutevents_btn,
.calendar_arrow_down_myevents_btn {
   margin-top: 15px;
}

.calendar_arrow_up_loading_btn{
      background: url('../images/evenements/fleche-haut-animation.gif') no-repeat;    
}

.calendar_arrow_down_loading_btn{
      background: url('../images/evenements/fleche-bas-animation.gif') no-repeat;
}

.calendar_arrow_up_withevents_btn{
      background: url('../images/evenements/bouton-mois-avant.png') no-repeat;
}

.calendar_arrow_down_withevents_btn{
      background: url('../images/evenements/bouton-mois-apres.png') no-repeat;
}

.calendar_arrow_up_withoutevents_btn{
      background: url('../images/evenements/bouton-mois-avant-grise.png') no-repeat;
}

.calendar_arrow_down_withoutevents_btn{
      background: url('../images/evenements/bouton-mois-apres-grise.png') no-repeat;
}

.calendar_arrow_up_myevents_btn{
      background: url('../images/evenements/bouton-mois-avant-myevent.png') no-repeat;
}

.calendar_arrow_down_myevents_btn{
      background: url('../images/evenements/bouton-mois-apres-myevent.png') no-repeat;
}

.cpt_event_btn{
      background: url('../images/evenements/petit-logo-cpt.png') no-repeat;
      min-height: 21px;
      min-width: 21px;
      display: inline-block;
      border: 0px;
}


.btn_trash{
    background: url('../images/boutons/bouton-corbeille.png') no-repeat;
    height: 25px;
    width: 25px;
    cursor: pointer; cursor: hand;
}

.btn_red,
.btn_blue{
    display: inline-block;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    color: white;
    cursor: pointer; cursor: hand;
    border-style: none;
    vertical-align: central;
}

.btn_blue{
    background: url('../images/boutons/bouton-generique-bleu.png') repeat-x;
}

.btn_red{
    background: url('../images/boutons/bouton-generique-rouge.png') repeat-x;
}

.event_new_btn:hover,
.article_new_btn:hover,
.btn_red:hover,
.btn_blue:hover{
    color: white;
}

.btn_green{
    display: inline-block;
    background: url('../images/boutons/bouton-generique-vert-milieu.png') repeat-x;
    height: 25px;
    color: white;
    cursor: pointer; cursor: hand;
    border-style: none;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    line-height: 15px;
}

.btn_logout{
    display: inline-block;
    background: url('../images/bandeau/bandeau-bouton-connecte.jpg') repeat-x;
    height: 12px;
    color: white;
    cursor: pointer; cursor: hand;
    border-style: none;
    vertical-align: middle;
    margin: 2px;
    padding: 3px;
    line-height: 12px;
    margin-top: 20px;
}


.btn_csv{
    display: inline-block;
    cursor: pointer; cursor: hand;
    background: url('../images/boutons/csv.jpg');
    border-style: none;
    vertical-align: middle;
    margin: 5px;   
    margin-left: 20px;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
}


.btn_save{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-save.png') no-repeat;
    height: 64px;
    min-width: 64px;
    padding-left: 75px;
    font-size: large;
}

.btn_cancel{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-cancel.png') no-repeat;
    height: 64px;
    min-width: 64px;
    padding-left: 75px;
    font-size: large;
}

.btn_copy{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-copy.gif') no-repeat;
    height: 64px;
    min-width: 64px;
    padding-left: 75px;
    font-size: large;
}

.btn_link{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-link-light.png') no-repeat;
    height: 16px;
    width: 16px;
    font-size: large;
    display: inline-block;
    margin-right: 8px;
}

.btn_link:hover{
    background: url('../images/boutons/bouton-link.png') no-repeat;
}

.btn_settings{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-settings-light.png') no-repeat;
    height: 16px;
    width: 16px;
    font-size: large;
    display: inline-block;
    margin-right: 8px;
}

.btn_settings:hover{
    background: url('../images/boutons/bouton-settings.png') no-repeat;
}

.btn_account{
    border: none;
    background-color: white;
    color: #444444;
    background: url('../images/boutons/bouton-account.png') no-repeat;
    height: 59px;
    min-width: 59px;
    padding-left: 75px;
    margin-right: 8px;
    font-size: large;
}