#articles{
    width: auto;    
}

.postcontainer{
    width: auto;
    margin-bottom: 15px;
}

.post_header{
    display: block;
    font-size: 12px;
    width:auto;
    height: 16px;
    margin-top:6px;
    padding: 0px;
    
    cursor:  pointer;
}

.post_header:hover .post_header_arrow{
     background: url('../images/articles/fleche-articles.png') no-repeat;
}

.post_header_arrow,
.post_header_date,
.post_header_title,
.post_header_commentcount,
.post_header_author{
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
}

.post_header_arrow{
        background: none;
        background-position:left center;
        margin-right: 5px;
        min-height: 13px;
        min-width: 6px;
        
}

.post_header_date{
    min-width: 30px;
    margin-right: 10px;
}

.post_header_title{
    width: auto;
    margin-right: 5px;
}

.post_header_commentcount{
    width: 20px;
    margin-right: 5px;
    float: right;
}

.post_header_author{
    width: 30px;
    margin-right: 5px;
    float: right;
}

.post_body{
  
    margin-top:0px;

    padding: 15px;
    font-size: 12px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;

}


.post_separator{
    height: 50px;
}