/* 
    Document   : event.css
    Created on : Oct 27, 2013, 12:22:44 AM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/


.event_new_popup{
    width: 500px;
}

.event_header{
    display: block;
    color: #066FB2;
    font-size: 24px;
    font-weight: bold;
    height: auto;
    overflow: hidden;
}

.event_header > div:last-child{
    float: right;
    display: inline-block;
}

.event_header > div:first-child{
    float:left;
    margin-right: 100px;
    text-transform:uppercase;
}

.event_subheader{
    display: block;
    color: black;
    text-transform:uppercase;
    font-weight: bolder;
}

.event_hr{
    border-style: dashed;
    border-color: lightgray;
    border-bottom-style: none;
}

.event_numattendee_select{
    height: 10px;
    width: 40px;
    font-size: 8px;
    line-height: 8px;
}

.event_content{
    border: 1px solid transparent; /* Tries to fix the jquery slideup jump bug */
}