/* 
    Document   : main.css
    Created on : Apr 21, 2013, 11:11:21 AM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/
html {
       overflow-y: scroll; /* Forces vertical scroll bar */
}

root { 
    display: block;
}

body{
    background-color: white;
}

* {
  font-family: 'Noto Sans', sans-serif, Geneva, 'Gill Sans', Tahoma, 'GentiumBasicRegular';
}

p {
text-align: justify;    
}

h1, h2 
{
    text-shadow: 2px 2x 3px #ab0000;
    filter: dropshadow(color=#ab0000, offx=1, offy=1);
}

a{
    outline : none;
    color: #066FB2;
}

a:hover{
    color: #066FB2;
    text-decoration: none;
    cursor: pointer; cursor: hand;
}

a img  
{  
border: 0px;  
}  

.inline-block{
    display: inline-block;
}

.float-right{
    float: right;
}

.horizontal_list li{
    display: inline;
    list-style: none;
    padding: 10px;
    font-size: 15px;    
}

.menu li{
}



.upperleft{
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
}




.main_section{
  
    height: 100%;
    padding: 10px;
    
    margin-bottom: 50px;

}

.cpt_blue{
    color: #066FB2;
}

.cpt_bluebackground{
    background-color: #066FB2;
}

.cpt_orange{
    color: #F29516;     
}

.cpt_red{
        color: #D20F1F;
}

.cpt_grey{
        color: #CACACA;
}

.cpt_redbackground{
    background-color: #D20F1F;
}

.loading{
    background: url('../images/loading.gif') no-repeat;    
    background-position: left center;
    font-size: 24px;
    min-width: 100px;
    height: 100px;
    padding-left: 110px;
    padding-top: 50px;
    margin-top: 20px;
}

.column_title_event{
    background: url('../images/evenements/picto-entete-evenements.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #066FB2;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.column_title_article{
    background: url('../images/articles/picto-entete-articles.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #D20F1F;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.column_title_about{
    background: url('../images/a-propos/picto-entete-apropos.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #F29516;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


.about_subtitle{
    color: #F29516;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.about_paragraph{
    text-align: justify;
}

#page_opacity_mask{
    background:#000;
    opacity:0.7;
    display:none;
    height:500%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:5;
 }


#popup_new_event{

    position:absolute;
    opacity:1;
    top:5%;/*or whatever*/
    left:20%; /*or whatever*/
    width:60%;
    min-height: 300px;
    min-width: 150px;
    height: 85%;
    z-index:6;
    background-color: white;
 }
 
 #popup_new_event input[type=checkbox]{
    display: inline;
 }
 
 #popup_new_event label{
     display: inline;
     vertical-align: middle;
     clear: right;
 }
 
 #popup_new_article{
    position:absolute;
    opacity:1;
    top:5%;
    left:20%;
    width:60%;
    min-height: 300px;
    min-width: 150px;
    height: 85%;
    z-index:6;
    background-color: white;
 }
 
 #popup_new_article input[type=checkbox]
 {
     display: inline;
 }
 
 #popup_new_article input[type=textbox]
 {
     width: 80%;
 }
 
 #popup_new_article label{
     display: inline;
     vertical-align: middle;
     clear: right;
 }
 
 .popup_title{
    height: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding:5px;
 }
 
 .popup_close_button{
     float:right;
     padding-right: 10px;
     font-size: 18px;
     color:white;
 }
 .popup_close_button:hover{
     color:#F29516;
     text-decoration: none;
 }
 
 .article_edit_title{
     width: 100%;
 }
 
 .ui-widget-header{
     font-size: 15px;
 }
 
 .ui-widget-content, .ui-widget-content{
     background-color: white;
 }
 
 
hr.line_separator{
    border-top-width: 1px;
    border-top-color: lightgray;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}