<div class="cpt_page">
    <div class="row-fluid">
        <div class="span4">Name</div>
        <div class="span4">Cyril</div>
    </div>
    <div class="row-fluid">
        <div class="span4">Location</div>
        <div class="span4">Paris, France</div>
    </div>
    <div class="row-fluid">
        <div class="span4">Bio</div>
        <div class="span4">sldgjl sglkwj lkjslflw selwrgh kdr gskleh glksdhgrlkxldrghsldxr gskleh glksdhgrlkxldrghsldxr sje mlrgj smxkdjglmxj gskleh glksdhgrlkxldrghsldxr sje mlrgj smxkdjglmxj sje mlrgj smxkdjglmxj</div>
    </div>
    <div class="row-fluid">
        <div class="span4">Contact</div>
        <div class="span4"></div>
    </div>
    <div class="row-fluid">
        <div class="span4">Articles publiés</div>
        <div class="span4"></div>
    </div>
        <div class="row-fluid">
        <div class="span4">Evènements proposés</div>
        <div class="span4"></div>
    </div>

</div>