{% extends '::base.html.twig' %}

{% block main_content %}
{# #############################################################################}
{# JAVASCRIPT
{# #############################################################################}

{% include 'CptMainBundle:Default:main.js.twig' %}

 <script type="text/javascript">
{# ************************************************************************************************************************ #} 
{# Show or hide the opacity mask (ex: for popup display)
{#************************************************************************************************************************ #}     
function DisplayOpacityMask(visible)
{
    if (visible){
        $("#page_opacity_mask").show();
    } else
    {
        $("#page_opacity_mask").hide();
    }
}
{# ************************************************************************************************************************ #} 
{# OnLoad
{#************************************************************************************************************************ #}      
 $(function() {

});
          
</script>
{#
{#
{# #############################################################################}
{# HTML
{# #############################################################################}
<div class="row-fluid">
    {# ************************************************************************************************************************ #} 
    {# About Section
    {# ************************************************************************************************************************ #}     
    <div class="span2">
         <div class="main_section">   
            <div class="column_title_about">{{'main.title.about'|trans}}</div>
            <img src="{{ asset('bundles/cptmain/images/a-propos/image-apropos.jpg') }}">
            <p class="about_subtitle">{{'main.about.subtitle'|trans|raw}}</p>
            <p>{{'main.about.text'|trans|raw}}</p>
        </div>
    </div>
    {# ************************************************************************************************************************ #} 
    {# Event Section
    {#************************************************************************************************************************ #}     
    <div class="span5">
        {% block leftcol %}{% endblock %}
        {% if (not is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
        <div id="leftcol_registration">
           {% render controller("FOSUserBundle:Registration:register") %}
        </div>
        {% endif %}
    </div>
    {# ************************************************************************************************************************ #} 
    {# Articles Section
    {#************************************************************************************************************************ #}     
    <div class="span5">
        {% block rightcol %}{% endblock %}
    </div>
</div>


{# ************************************************************************************************************************ #} 
{# Opacity Mask
{#************************************************************************************************************************ #}     
<div id="page_opacity_mask"> 
</div>
        
{% endblock %}