.top_banner{
    padding: 10px;
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    
    background-image: url('../../Resources/public/images/bandeau/bandeau-photo.jpg');    
  
}