.form-signin {
    background-color: transparent;
    border: none;
}

.form-signin li {
    float: left;
    list-style: none;
    padding-left: 10px;
}

.form-signin li:nth-child(4){
    clear: both;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin label{
    margin-right: 15px;
    margin: 5px 5px 5px 5px;
}


.form-signin .checkbox,
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 14px;
    height: auto;
    margin-bottom: 14px;
    padding: 7px 9px;
    width: 150px;
}