.top_banner{
    width: 100%;
    height: 134px;
    background: 
        url('../../bundles/cptmain/images/bandeau/logo.png') no-repeat,  
        url('../../bundles/cptmain/images/bandeau/bandeau-forme-bleue.png') no-repeat,
        url('../../bundles/cptmain/images/bandeau/bandeau-photo.jpg') no-repeat;  
    background-position:left bottom, right bottom, right bottom;
}

.banner_icons{
     list-style-type: none;
    position: absolute;    
     top: 108px;
     right: 190px;
}

.banner_icons li{
    display:block;
    float: left;
    margin-left: 15px;
}

.banner_icons li a{
    display:block;
    float: left;
    height:39px;
    width:39px;
    overflow:hidden;
    white-space:nowrap;
}

.banner_icons li:nth-child(1) a
{   background-image:url('../../bundles/cptmain/images/bandeau/bandeau-picto-contact.png');

}

.banner_icons li:nth-child(2) a
{   background-image:url('../../bundles/cptmain/images/bandeau/bandeau-picto-facebook.png');
}

.banner_icons li:nth-child(3) a
{   background-image:url('../../bundles/cptmain/images/bandeau/bandeau-picto-youtube.png');
}