/* 
    Document   : main.css
    Created on : Apr 21, 2013, 11:11:21 AM
    Author     : cyril
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: white;
}

* {
  font-family: 'Noto Sans', sans-serif, Geneva, 'Gill Sans', Tahoma, 'GentiumBasicRegular';
  font-size: 10px;
}

p {
text-align: justify;    
}

h1, h2 
{
    text-shadow: 2px 2x 3px #ab0000;
    filter: dropshadow(color=#ab0000, offx=1, offy=1);
}



.horizontal_list li{
    display: inline;
    list-style: none;
    padding: 10px;
    font-size: 15px;    
}

.menu li{
}



.upperleft{
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
}




.main_section{
  
    height: 100%;
    padding: 10px;
    
    margin-bottom: 50px;

}

.cpt_blue{
    color: #066FB2;
}

.cpt_orange{
    color: #F29516;     
}

.cpt_red{
        color: #D20F1F;
}

.column_title_event{
    background: url('../../bundles/cptmain/images/evenements/picto-entete-evenements.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #066FB2;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.column_title_article{
    background: url('../../bundles/cptmain/images/articles/picto-entete-articles.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #D20F1F;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.column_title_about{
    background: url('../../bundles/cptmain/images/a-propos/picto-entete-apropos.png') no-repeat;
    background-position:left top;
    min-width: 100px;
    padding-top:10px;
    color: #F29516;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


.about_subtitle{
    color: #F29516;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.about_paragraph{
    text-align: justify;
}

#page_opacity_mask{
    background:#000;
    opacity:0.7;
    display:none;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:5;
 }


#popup_new_event{

    position:absolute;
    opacity:1;
    top:20%;/*or whatever*/
    left:30%; /*or whatever*/
    width:900px;
    z-index:6;
 }